<nav class="navbar navbar-light py-0 px-auto mb-4">
  <div class="container-fluid my-header">
    <img class="stave-img" src="https://snipboard.io/dpEocC.jpg" alt="#" routerLink="/">
    <div class="buttons">
        <button class="btn btn-outline-dark btn-md m-3" routerLink = "/about" *ngIf="getRoute() !== '/about'">About</button>
        <button class="btn btn-outline-dark btn-md m-3" routerLink = "/contact" *ngIf="getRoute() !== '/contact'">Contact</button>
        <button class="btn btn-outline-dark btn-md m-3" routerLink = "/it-services" *ngIf="getRoute() !== '/it-services'">IT Services</button>
        <button class="btn btn-outline-dark btn-md m-3" routerLink = "/covid" *ngIf="getRoute() !== '/covid'">COVID-19</button>
    </div>
  </div>
</nav>
