<nav class="navbar navbar-light bg-secondary py-0 px-auto">
  <div class="container-fluid">
    <img class="img-fluid" src="https://snipboard.io/Ou4GR3.jpg" alt="#" routerLink="/">
    <div class="position-end">
      <button class="btn btn-secondary btn-lg mx-3 border" routerLink = "/about">About</button>
      <button class="btn btn-secondary btn-lg mx-3 border" routerLink = "/contact">Contact</button>
      <button class="btn btn-secondary btn-lg mx-3 border" routerLink = "/it-services">IT Services</button>
      <button class="btn btn-secondary btn-lg mx-3 border" routerLink = "/covid">COVID-19</button>
    </div>
  </div>
</nav>
