<div class="container-fluid">
  <div class="row">
    <div class="col col-md-10 offset-md-1">
      <h1 class="my-3 text-center">About STAVE Technology</h1>
      <h4 class="my-3">&ensp; STAVE Technology, we’re an Information Technology MSP (Managed Service Provider) based in Los Angeles, CA.
          As a certified Apple consultant, We specialize in technical support, software/web development, MDM fleet management
          and network managed services with emphasis in entertainment, advertising and education. STAVE Tech is a full service MSP,
          we provide professional IT hosting services. </h4>
      <div class="about-list">
        <h2>Managed Services:</h2>
        <ul>
          <h4>* 24hr. Remote\Onsite Management Support</h4>
          <h4>* Google Workspace (GSuite) Administration Business Application Integration</h4>
          <h4>* Apple Enterprise MDM (Mobile Device Management) Hardware & Software support</h4>
          <h4>* Network Provisioning - Security, Monitoring & Administration</h4>
          <h4>* Adobe Creative Cloud - Workstation Optimization</h4>
          <h4>* Hosting - Podcast</h4>
          <h4>* Accounting Financials - QuickBooks</h4>
          <h4>* VPS Virtual Private Server - Provider</h4>
          <h4>* Cloud Infrastructure/Hosting & Business solution</h4>
          <h4>* Software Development Full Stack Web/Mobile</h4>
        </ul>
      </div>
      <div class="about-list">
        <h2>Clients:</h2>
        <ul>
          <h4>* NBC Universal</h4>
          <h4>* 20th Century Fox Television & Pictures</h4>
          <h4>* E! Entertainment</h4>
          <h4>* Ryan Seacrest Productions</h4>
          <h4>* Comcast Corporation</h4>
          <h4>* The Discovery Channel</h4>
          <h4>* Viacom - Showtime, MTV</h4>
          <h4>* Walt Disney Television, Animation & Pictures</h4>
          <h4>* UCLA</h4>
          <h4>* The icon</h4>
          <h4>* UPS</h4>
        </ul>
      </div>
    </div>
  </div>
</div>
