.contact-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address {
  margin-top: 10px;
}
