<div class="container-fluid">
  <h1 class="my-3 text-center">Contact Us</h1>
  <div class="container">
    <div class="contact-item">
      <div class="header">
        <img src="https://snipboard.io/hoLnwF.jpg" class="img-thumbnail rounded float-start" alt="">
        <h2 class="name">Parris Grundy</h2>
        <h4>Founder & CEO</h4>
      </div>
      <div class="content">
        <h4 class="phone">310-993-7381</h4>
        <h4 class="email">parris@stavetech.com</h4>
        <div class="address">
          <h5 class="addr-beg">2272 Colorado Blvd</h5>
          <h5 class="addr-end">Los Angeles CA, 90041</h5>
        </div>
      </div>
    </div>
    <div class="contact-item">
      <div class="header">
        <img src="https://snipboard.io/hoLnwF.jpg" class="img-thumbnail rounded float-start" alt="">
        <h2 class="name">Bryce Albertazzi</h2>
        <h4>Lead Software Developer</h4>
      </div>
      <div class="content">
        <h4 class="phone">541-633-9096</h4>
        <h4 class="email">bryce@stavetech.com</h4>
        <div class="address">
          <h5 class="addr-beg">61032 Chamomile Pl</h5>
          <h5 class="addr-end">Bend OR, 97702</h5>
        </div>
      </div>
    </div>
  </div>

</div>
